.column-50{
  width: 50%;
  margin-bottom: 1em;
}
.linha{
  display: flex;
  flex-direction: row;
}

.dx-field-label{
  width: 150px;
}

.column-30{
  width: 30%;
  margin-bottom: 1em;
}

#form-container{
  width: 50vw;
  margin-left:30px ;
  display: block;
}
