.column-50{
  width: 50%;
  margin-bottom: 1em;
}
.linha{
  display: flex;
  flex-direction: row;
}

.dx-field-label{
  width: 150px;
}

.column-30{
  width: 30%;
  margin-bottom: 1em;
}
.form-container{
  width: 80vw;
  margin-left:30px ;
  display: block;
}

#FormProdutos{
  width: 80vw;
  margin-left:30px ;
  display: block;
}

#toolBarInterna{
  margin: 0 0 6px 30px;

}
